.imageAlign>img{
    width: 40%;
}
.imageAlign{
    text-align: center;
}
.nav{
    background-color: rgb(255, 0, 157);
   line-height:40px;
   font-size:20px;
}
.nav a{
    padding: 5px;
    margin-right: 10px;
    text-decoration: none;
    color:aqua;
}
.nav  a:hover{
    background-color:grey
}
